body {
    background-color: #72b9f3 !important;
}

header {
    background-color: #FAF4B7 !important;
}


h1 {
    color: #FFE162;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Семейство шрифтов */
    font-weight: lighter; /* Нормальное начертание текста  */
}

h4 {
    color: #00FFDd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}
h3 {
    color: #00FFDd;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
}

dd {
    color: #232535;
 
    
}
dt {
    color: #232535;
    
}

label {
    color: #232535;
}

li {
    color: #FF4C29;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; /* Семейство шрифтов */
    font-weight: 100; /* Нормальное начертание текста  */
    display: list-item;
    font-size: small;
    line-height: normal;
}

button{
    color: bisque;
    border: none;
}

.box{
    width: 70px;
    height: 75px;
    border: 2px solid white;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 0px 40px black;
    transform: scale(2);
}

.wave{
    width: 150px;
    height: 150px;
    position: absolute;
    left: -50%;
    bottom: -190%;
    border-radius: 33%;
    transition: all 1.4s linear;
    animation: waves 8.4s linear infinite;
}

.lightblue{
    background: linear-gradient(
        to right,
        #ffffff,
        #72b9f3
    );
}

@keyframes waves {
    0%{
        transform: rotate(0);
        border-radius: 30%;
        /* bottom: -170px; */
    }
    45%{
        border-radius: 39%;
    }
    100%{
        transform: rotate(360deg);
        border-radius: 30%;
        /* bottom:-80px; */
    }
}

.LineH1{
    display: block;
    position: absolute;
    width: 380px;
    height: 435px;
    left: 150px;
    top: 200px;

    background: #7B6079;
    border-radius: 5px;
    
    padding-top: 15%;
}

.LineH2{
    display: block;
    position: absolute;
    width: 380px;
    height: 435px;
    left: 800px;
    top: 200px;

    background: #DE8971;
    border-radius: 5px;

    padding-top: 15%;
}


.TasksTable1{
    position: absolute;
    margin-left: -5%;
    width: 90%;
    height: 50%;
    border-collapse: collapse;
    border: 1px solid #000000;
    border-radius: 10px;
    overflow: hidden;
    background-color: #FFF9E9;
}

/* @media(){
    -webkit-animation: ;
} */

.TasksTable1 thead{
    background-color: #232535;
    text-align: center;
    color: beige;
    padding: 15px 20px;
    border-right: 1px solid beige;
    /* border-radius: 5%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
}

.TasksTable1 tr{
    /* border-radius: 5%; */
}

.TasksTable1 th{
    /* text-align: center; */
    /* padding: 15px 20px; */
    /* border-bottom: 1px solid #232535; */
    padding: 10px 15px;
    border-right: 1px solid beige;
}

.TasksTable1 td{
    text-align: center;
    padding: 10px 15px;
    border-right: 1px solid #232535;
}


.milestnsMain{
    width: 49%;
    height: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #232535;
    background-color: #FFF9E9;
    border-radius: 10px;
    padding-left: 10px;
}

.priority{
    margin-left: 80%;
    display: inline-block;
}

.completion{
    top: 20%;
}

.projctsMain{
    width: 49%;
    height: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #232535;
    background-color: #FFF9E9;
    border-radius: 10px;
    padding-left: 10px;
}

.directnsMain{
    width: 49%;
    height: auto;
    margin-bottom: 5px;
    margin-right: 5px;
    border: 1px solid #232535;
    background-color: #FFF9E9;
    border-radius: 10px;
    padding-left: 10px;
}

.otodvigalka{
    background-color: #FFF9E9;
    border: 1px solid #232535;
    border-radius: 10px; 
    position: absolute;
    margin-left: 40.8%;
    height: 80%;
    width: 42%;

}

.back{
    position: absolute;
    top: 30;
    left: 30;
}

.buttons{
    width: 100%;
    height: 100%;
    /* left: 0;
    right: 0;
    top: 0; */
    box-sizing: border-box;
}