@{
    ViewData["Title"] = "Dashboard-Menu";
}

<div class="text-center">
    <h1>Dashboard<h1>
    <h2>Main Menu<h2>
<div class="LineH1" onclick="location.href='https://localhost:5001/Directions/';" style="cursor: pointer;"&gt;&lt;/div&gt;>
                         <span style="color:#337ab7">Направления<br />
    </div>
    <div class="LineH2" onclick="location.href='https://localhost:5001/Employees/';" style="cursor: pointer;"&gt;&lt;/div&gt;>
                         <span style="color:#337ab7">Сотрудники<br />
    </div>
</div>
