@{
    ViewData["Title"] = "Dashboard-Menu";
}

<div class="text-center">
    <h1>Dashboard<h1>
    <h2>Main Menu<h2>
   <button class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Directions" asp-action="Index">Directions</a>
                        </button>
                         <button class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Positions" asp-action="Index">Positions</a>
                        </button>
</div>
