@{
    ViewData["Title"] = "Dashboard-Menu";
}

<div class="text-center">
    <h1>Dashboard<h1>
<div class="LineH1" onclick=location.href='/Directions' style="cursor: pointer;"&gt;&lt;/div&gt;>
                         <span style="color:#337ab7">Направления<br />
    </div>
    <div class="LineH2" onclick="location.href='/Employees/';" style="cursor: pointer;"&gt;&lt;/div&gt;>
                         <span style="color:#337ab7">Сотрудники<br />
    </div>
</div>
