@{
    ViewData["Title"] = "Dashboard-Menu";
}

<div class="text-center">
    <h1>Dashboard<h1>
    <h2>Main Menu<h2>
<div class="LineH1" onclick="location.href='https://localhost:5001/Directions/';" style="cursor: pointer;"&gt;&lt;/div&gt;>
    @* <div class="row display-flex">
        <div class="col-sm-4" class="box"> *@
            @* <table class="table table-bordered" style="border-color:transparent; box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.19);border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;"> *@
                @* <tr style="text-align:center">
                    <td colspan="2" style="border-color:transparent;"> *@
                         <span style="color:#337ab7">Направления<br />
                    @* </td>
                 </tr> *@
            @* </table> *@
        @* </div>
    </div> *@
    </div>
        <div class="LineH2" onclick="location.href='https://localhost:5001/Positions/';" style="cursor: pointer;"&gt;&lt;/div&gt;>
        @* <div class="col-sm-4" class="box"> *@
            @* <table class="table table-bordered" style="border-color:transparent; box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.19);border-top-left-radius:30px;border-top-right-radius:30px;border-bottom-left-radius:30px;border-bottom-right-radius:30px;"> *@
                @* <tr style="text-align:center">
                    <td colspan="2" style="border-color:transparent;"> *@
                         <span style="color:#337ab7">Должности<br />
                    @* </td>
                 </tr> *@
            @* </table> *@
        @* </div> *@
    </div>
@* </div> *@
